.hero-container {
    background-color: #090909;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    box-shadow: rgba(8, 8, 8, 0.623) 0px 5px, rgba(6, 6, 6, 0.3) 0px 10px, rgba(8, 8, 8, 0.246) 0px 15px, rgba(18, 18, 18, 0.258) 0px 20px, rgba(11, 11, 11, 0.083) 0px 25px, rgba(11, 11, 11, 0.046) 0px 25px, rgba(11, 11, 11, 0) 0px 25px;
}

.hero-caption h1 span{
    height: 7px;
    width: 150px;
    margin: 0 5px 8px 0;
    background-color: rgb(5, 196, 180);
    display: inline-block;
    border-radius: 5px;
}

.hero-caption h1 p{
font-size: 40px;
font-weight: bold;
letter-spacing: 3px;
}

.hero-caption p{
font-size: 15px;
display: inline;
}

.hero-caption{
    width: 36vw;
    overflow: hidden;
    margin: 0 0 0 60px;
    position: relative;
    z-index: 500;
}

.hero-caption .check{
    background-color: rgb(3, 189, 152);
    width: 200px;
    padding: 10px 15px;
    text-align: center;
    margin-top: 15px;
    border-radius: 7px;
    color: white;
}

.check:hover{
    background-color: rgba(6, 222, 186, 0.972);
    box-shadow: rgba(4, 244, 204, 0.972) 0px 2px 8px;
    color: white;
}

.hero-container::after{
    content: '';
    background-color: rgb(118, 3, 107);
    display: block;
    filter: blur(50%);
    -webkit-filter: blur(80px);
    height: 200px;
    width: 300px;
    position: absolute;
    right: 1100px;
    top: 250px;
    display: block;
    /* z-index: 1; */
}


.hero-caption .h2{
	-webkit-text-fill-color: rgb(5, 196, 180);
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 24px;
}

.hero-caption .h1, .hero-caption h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.hero-img {
    width: 55vw;
}

.hero-img img {
    width: 100%;
    margin-bottom: 90px;
}