
.accordion-container li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
}


.accordion1{
    background-color: #021B2A;
    height: 100vh;
    padding-top: 200px;
}

.active {
    background-color: #21c793;
    color: rgb(2, 2, 66);

}

.acc-btn {
    background-color: #21c793;
    width: 75%;
    height: 46px;
    border: 0;
    margin: 3px 0;
    z-index: 2;
}


.que-p {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.acc-ans-none {
    display: none;
}

.drop-down-on {
    width: 25px;
    height: 3px;
    border-top: 3px solid #fff;
    margin-top: 21px;
}


.drop-down-off {
    width: 25px;
    height: 25px;
}

.drop-down-off:before {
    content: '';
    width: 25px;
    height: 1px;
    border-top: 3px solid #fff;
    display: block;
    position: absolute;
    margin-top: 21px;
    margin-left: 0px;
}

.drop-down-off:after {
    content: '';
    width: 1px;
    height: 25px;
    border-right: 3px solid #fff;
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.acc-ans {
    width: 75%;
    margin-bottom: 45px;
    z-index: 2;
}

.que-p p {
    font-size: 16px;
    margin-top: 13px;
    color: white;
}

.acc-ans p {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    color: white;
}



/* not found page style  */
.products-info button, .see-all-btn button, .about-btn {
    transition: .400s ease-in;
    background-color: transparent;
    border: 2px solid #aae4d5;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 17px;
    color: #aae4d5;
    margin-top: 6px;
}

.products-info button:hover, .see-all-btn button:hover, .about-btn:hover {
    background-color: #aae4d5;
    color: #020723;
}


